# Dependencies
node_modules/


# Google credentials
credentials.json
*.pem
*.key

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build output
dist/
build/

# Temp files
tmp/
temp/
